<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Welcome.css">
    <title>Movies to watch</title>
</head>
<body>
  {% include 'Navbar_sign_in.html' %}
  <div class="container">
      <table class="welcome_table">

            <tr><td><h1>What is m2w for?</h1>
                <h3>The main idea of M2W is to help people
                to remember all movies <br>they ever heard, seen a trailer or were advised <br>
                by other people to definitely watch. If movie was good, <br>user can advise it to friends.</h3></td></tr>

            <tr><td><h1>What can You do here?</h1>
                <h3>1.Find movies to watch<br>
                    2. Create Your own list to watch<br>
                    3. Add friends to know their preferences<br>
                    4. Advice film to friends</h3></td></tr>

            <tr><td><h1>How it works?</h1>
                <h3>1. Create an account<br>
                    2. Find the film You want to see<br>
                    3. Add it to Your wishlist<br>
                    4. Mark it watched<br>
                    5. Advice to Friends</h3></td></tr>

      </table>
  </div>
  <div class="container"><a href="/register" class="questions"><h4>Interested? Register!</h4></a></div>
  <div class="container"><a href="/signin" class="questions">Already registered? <h3>Sign in</h3></a></div>

</body>
</html>
