{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
{% endblock %}
{% block content %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}
<table class="inline-form">
    <tr>
        <form method="post">
            <td style="width: 20%;">{{ form.email.label_tag }}</td>
            <td style="width: 50%;">{{ form.email }} </td>
            {% csrf_token %}
            <td><button type="submit" id="find">Add friend</button></td>
        </form>
    </tr>

</table>
{% for outgoing_request in outgoing_requests %}
    <h2>Outgoing requests</h2>
    <table class="inline-form" id="request_table">
        <tr>
            <th>Receiver</th>
            <th>Status</th>
            
        </tr>
        <tr>
            <td>{{ outgoing_request.receiver.email }}</td>
            <td>{{ outgoing_request.status }}</td>
            <td>
                <button >
                    <a href="{% url 'delete-request' outgoing_request.id %}" id="find">Delete</a>
                </button>
            </td>
            
        </tr>
    </table>
{% endfor %}
{% for incoming_request in incoming_requests %}
    <h2>Incoming requests</h2>
    <table class="inline-form" id="request_table">
        <tr>
            <th>Sender</th>
            <th>Status</th>
            
        </tr>
        <tr>
            <td>{{ incoming_request.sender.email }}</td>
            <td>{{ incoming_request.status }}</td>
            <td>
                <button>
                    <a href="{% url 'accept-request' incoming_request.id %}" id="find">Accept</a>
                </button>
                <button>
                    <a href="{% url 'delete-request' incoming_request.id %}" id="find">Delete</a>
                </button>
            </td>
            
        </tr>
    </table>
{% endfor %}
<h2>My friends</h2>
    <table class="inline-form">
        <tr>
            <th style="width: 10%;">Avatar</th>
            <th style="width: 20%;">Email</th>
            <th style="width: 10%;">First name</th>
            <th style="width: 30%;">Last name</th>
        </tr>
        
        {% for friend in friends %}
            <tr>
                <td><img src="{{ friend.profile.avatar.url }}" width="50" height="50"></td>
                <td>{{ friend.email }}</td>
                <td>{{ friend.profile.first_name|default:"-" }}</td>
                <td>{{ friend.profile.last_name|default:"-" }}</td>
                <td>
                    <button onclick="confirmDeletion(event, '{{ friend.id }}', '{{ friend.email }}')">
                        <a href="{% url 'delete-friend' friend.id %}" id="find">Delete</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
<script>
function confirmDeletion(event, friendId, friendEmail) {
    event.preventDefault();
    if (confirm("Are you sure you want to delete this friend " + friendEmail + "?")) {
        window.location.href = "{% url 'delete-friend' 0 %}".replace("0", friendId);
    }
}
</script>
{% endblock %}
