{% extends 'base.html' %}

{% block content %}
<body>
<table class="movie-container">
    <tr>
        <td><img src="{{ movie.poster.url }}" alt="Movie Poster" class="movie-poster"></td>
        <td class="movie-details">
            <h2>{{ movie.title }}</h2>
            <p><strong>Year:</strong> {{ movie.year }}</p>
            <p><strong>Genres:</strong> {% for genre in movie.genres.all %}
                {{ genre.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %} </p>
            <p><strong>Director:</strong> {{ movie.director }} </p>
            <p><strong>Plot:</strong> {{ movie.plot }} </p>
            {% if not is_added %}
                <a href="{% url 'add-movie' movie.id %}"><button>Add movie</button></a>
            {% endif %}
            {% if is_added and not is_watched %}
                <a href="{% url 'rate-movie' movie.id %}"><button>Mark watched and rate</button></a>
            {% endif %}
            <button onclick="window.history.back();">Back</button>
        </td>
    </tr>
</table>
</body>
{% endblock %}
