body {
    background-color: #d0c5c4;
    font-family: Avenir, sans-serif;
}

.header-line {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    justify-content: space-between;
}

.icons {
    width: auto;
    height: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#profile_icon {
    margin-left: 5px;
    margin-right: 20px;
    flex-grow: 2;
}
.icon-container {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 10px;
}

.logo {
    width: 200px;
    height: auto;

    margin-right: 5px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-container {
    display: flex;
    align-items: center;
    margin-top: -10px;

}
.logo-text {
    display: block;
    margin-top: -32px;
    text-align: center;
}
.logo-content {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#friends_icon,movies {

    margin-left: 20px;
    margin-right: 20px;

}


a {
    text-decoration: none;
    color: black;
}

.icons a {
    margin: 0 10px;
}
.icons span {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    text-align: center;


}
.icon-text {
    display: block;
    margin-top: 2px;
    text-align: center;
}



button {
    background-color: #918989;
    color: #141313;
    border-color: #141313;
    border-radius: 0;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 200px;
    height: 45px;
    border-width: 1px;
    margin-right: 10px;
}

.register {
    background-color: #141313;

}

