<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Login.css">
    <title>Login</title>
</head>
<body>
        <div class="logo">
            <a href="#" >
                <img src="mainLOGO.png" class="logo" alt="Logo">
            </a>
        </div>
        <h1>Log in</h1>
        <div class="login_table">
          <label for="email">Email</label><br>
                <input type="email" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
          <label for="password1">Password</label><br>
                <input type="password" id="password1" name="password1" required><br>
          <button type="submit" id="log_in">Log in</button>
            <div>
                <a href="#" class="questions">Not registered yet?</a>
                <a href="#" class="questions">Forgot password or email?</a>
            </div>
        </div>

</body>
</html>
