{% load static %}
<nav class="header-line">
{% if user.is_authenticated %}
    <div class="icon-container">

        <a href="/myprofile/" id="profile_icon"><img src="{% static 'images/profileLG.png' %}" class="icons" alt="Profile"><span class="icon-text">Profile</span></a>
        <a href="/movies_to_watch/" id="movies_icon"><img src="{% static 'images/moviesLG.png' %}" class="icons" alt="Movies"><span class="icon-text">Movies</span></a>
        <a href="/friends/" id="friends_icon"><img src="{% static 'images/friendsLG.png' %}"  class="icons" alt="Friends"><span class="icon-text">Friends</span></a>
    </div>

    <div class="logo-container">
        <a href="/logout/" id="logo_icon">
            <img src="{% static 'images/mainLOGO.png' %}" class="logo" alt="Logo">
            <span class="logo-text">Log out</span>
        </a>
    </div>
{% else %}
    <div class="buttons_container">
        <a href="/login/" id="sign_in_button"><button type="submit" class="button">Sign in</button></a>
        <a href="/register/" id="register_button"><button type="submit" class="button">Register</button></a>
    </div>
    <div class="logo-container">
        <a href="/#" id="logo_icon">
            <img src="{% static 'images/mainLOGO.png' %}" class="logo" alt="Logo">
            <span class="logo-text">Log out</span>
        </a>
    </div>
{% endif %}
</nav>