<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="navbar_sign_in.css">
    <title>Welcome</title>
</head>
<body>
    <header class="header-line">
        <div class="icon-container">

            <a href="#" id="profile_icon"><img src="profileLG.png" class="icons" alt="Profile"><span class="icon-text">Profile</span></a>
            <a href="#" id="movies_icon"><img src="moviesLG.png" class="icons" alt="Movies"><span class="icon-text">Movies</span></a>
            <a href="#" id="friends_icon"><img src="friendsLG.png"  class="icons" alt="Friends"><span class="icon-text">Friends</span></a>
        </div>
        <a href="#" id="sign_in_button"><button type="submit" class="sign_in">Sign in</button></a>
        <a href="#" id="register_button"><button type="submit" class="register">Register</button></a>

        <div class="logo-container">
            <a href="#" id="logo_icon">
                <img src="mainLOGO.png" class="logo" alt="Logo">
                <span class="logo-text">Log out</span>
            </a>
        </div>
    </header>
</body>
</html>
